

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


:root{
    --cor1: rgb(17, 86, 102);
    --cor2: rgb(8, 45, 53);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--cor1);
    font-family: 'Open Sans', sans-serif ;
    font-size: 1.3em    ;
    line-height: 1.5em;
}

.container {
    max-width: 640;
    margin: 50px auto;
    margin-left: 100px;
    margin-right: 100px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}


form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--cor1);
}

form button, .btn{
    border: none;
    background-color: var(--cor1);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover{
    background-color: var(--cor2);
}

.res {
    padding-top: 4px;

}